{% extends "home/base.html" %}
{% load staticfiles %}

{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>医院</h1>
                        <hr class="small">
                        <span class="subheading">我们是一个公立医院 </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                
      {% for news in news_list %}
        <div class="post-preview">
                    <a href="{% url 'detail' id=news.id %}">
                        <h2 class="post-title">
                            {{news.tittle}}
                        </h2>
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{news.author}}</a> on {{news.time}}</p>
                </div>
                <hr>
      {% endfor %}



            </div>
        </div>
    </div>

    <hr>

    {% endblock %}



