{% extends "doctor/base.html" %}
{% load staticfiles %}

{% block content %}

          <h2 class="sub-header">病历历史</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>姓名</th>
                  <th>时间</th>
                  <th>年龄</th>
                  <th>性别</th>
                  <th>查看</th>
                </tr>
              </thead>
              <tbody>
                

                {% for register_note in register_note_list %}
                <tr>
                  <td>{{ register_note.patient.name }}</td>
                  <td>{{ register_note.time }}</td>
                  <td>{{ register_note.patient.age }}</td>
                  {% if register_note.patient.gender == 1 %}
                  <td>男</td>
                  {% else %}
                  <td>女</td>
                  {% endif %}
                  <td><button type="button" class="btn btn-sm btn-default" onclick="window.location.href='/huizhen_history_detail/{{ register_note.id }}/'">查看病历</button></td>                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

 {% endblock %}
     